@tailwind base;
@tailwind components;
@tailwind utilities;

.no-transition * {
  transition: none !important;
}

:root {
  --main-color: #DF6951;
  --white-color: #fcf4f4;

  --main-bg-1: url('./images/Home/main-backgrounds/01.jpeg');
  --main-bg-2: url('./images/Home/main-backgrounds/02.jpg');
  --main-bg-3: url('./images/Home/main-backgrounds/03.jpg');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}